[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/cvim"]
	path = bundle/cvim
	url = https://github.com/vim-scripts/c.vim.git
[submodule "bundle/avim"]
	path = bundle/avim
	url = https://github.com/vim-scripts/a.vim
[submodule "bundle/nerd_tree"]
	path = bundle/nerd_tree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
